div.gs_ban {
    min-height: 419px;
}
.gs_ban {
    display: block;
    width: 100%;
    min-height: 419px;
    background: url(../img/2018011516445840750.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.ban1_nn {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 208px;
}
.ban1_nn h2 {
    font-size: 36px;
    color: #1256a5;
    line-height: 1.1;
    font-family: '微软雅黑';
}
.A_content{
	width: 1200px;
	margin: 20px auto;
}
.A_content ul{
	overflow: auto;
}
.A_content ul li{
	width: 30%;
	margin: 0px 0.5%;
	float: left;
	border: 1px solid #ddd;
	padding: 10px;
	height: 220px;
    text-align: center;
    box-shadow: 5px 5px 10px 1px #888888;
}
.A_content img{
	margin-top: 50px;
    margin-bottom: 20px;	
}
.fs18 {
    font-size: 18px;
}
.gs_ban div div {
    background-color: #EB5406;
    float: left;
    width: 300px;
    height: 80px;
    position: relative;
    text-align: center;
}
.wd12 {
    width: 1200px;
    margin: 0px auto;
}
.gs_ban div div img {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.gs_ban ul {
   	right:0px;
    height: auto;
    width: 900px;
    position: absolute;
    margin-top: 35px;
    background-color: #fff;
}

.gs_ban ul li {
    float: left;
    width: 23%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.bannerli {
    color: #FF4700;
    border-bottom: 2px solid #FF4700;
}
