.wd12 {
    width: 1200px;
    margin: 0px auto;
}

.colf2 {
    background-color: #F3F2F0;
    padding: 20px;
}

.banner {
    background: url("../img/banner.png") no-repeat;
    background-size: 100% 100%;
    height: 537px;
}

.banner div div {
    background-color: #EB5406;
    float: left;
    width: 200px;
    height: 80px;
    position: relative;
    text-align: center;
}

.banner div div img {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.banner ul {
    float: right;
    height: auto;
    width: 950px;
    margin-top: 35px;
    background-color: #fff;
}

.banner ul li {
    float: left;
    width: 23%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.bannerli {
    color: #FF4700;
    border-bottom: 2px solid #FF4700;
}

.model1 {
    height: auto;
    overflow: hidden;
}

.model1 > li {
    float: left;
    width: 24%;
    margin-right: 1.3%;
    text-align: center;
    background-color: #F8F9F9;
    height: 130px;
}

.model1 > li:last-child {
    margin-right: 0px;
}

.model1 > li div {
    width: 45px;
    height: 45px;
    background-color: #EB5406;
    border-radius: 50%;
    margin: 15px auto 10px;
}

.model1 > li div img {
    margin-top: 7px;
}

.model1 > li p {
    color: #D7D5D0;
    margin-bottom: 10px
}

/*.model1>li:hover{*/
/*background-color: #FF4700;*/
/*color: #fff;*/
/*}*/
.gongsi {
    margin: 20px auto;
    background-color: #fff;
    overflow: hidden;
}

.gaikuang {
    width: 27%;
    padding: 15px;
    box-shadow: 7px 0 5px -3px #EDECEA;
}

.title {
    font-weight: bold;
    margin-bottom: 20px;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.gongsi > div {
    float: left;
}

.gaikuang_p {
    margin: 5px;
    line-height: 25px;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news {
    width: 38%;
    padding: 15px;
    box-shadow: 7px 0 5px -3px #EDECEA;
}

.hangye {
    width: 27%;
    padding: 15px 18px;
}

.news ul li div {
    float: left;
}

.news ul {
    overflow: hidden;
}

.news ul li div:first-child {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #EB5406;
    color: #FFDED1;
    border-radius: 2px;
}

.news ul li {
    margin: 0px 0px 25px;
    overflow: hidden;
}

.news ul li div span {
    font-size: 22px;
    color: #fff;
    display: inline-block;
    margin-top: 6px;
}

.line-clamp {
    line-height: 22px;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news ul li div:last-child {
    width: 84%;
    margin-left: 10px;
}

.titleB {
    display: inline-block;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.time_dongtai {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #EB5406;
    color: #FFDED1;
    border-radius: 2px;
    float: right;
    display: inline-block;
}

.dongtai_neir {
    width: 78%;
    display: inline-block;
    margin-right: 10px;
}

.time_dong {
    font-size: 22px;
    color: #fff;
    display: inline-block;
    margin-top: 6px;
}

.mb {
    margin-bottom: 20px;
}

.picScroll-left {
    width: 1200px;
    overflow: hidden;
    position: relative;
    color: #fff;
}

.picScroll-left .hd .prev,.picScroll-left .hd .next{
    display: inline-block;
    width: 17px;
    height: 32px;
    float: right;
    top: 90px;
    position: absolute;
    background: url("../img/left.png") no-repeat;
}
.picScroll-left .hd .prev{
    left: 0px;
}
.picScroll-left .hd .next {
    right: 0px;
    transform:rotate(180deg);
}

.picScroll-left .hd .prevStop {
    background-position: -60px 0;
}

.picScroll-left .hd .nextStop {
    background-position: -60px -50px;
}

.picScroll-left .hd ul {
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
    zoom: 1;
}

.picScroll-left .hd ul li {
    float: left;
    width: 9px;
    height: 9px;
    overflow: hidden;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    background: url("../img/icoCircle.gif") 0 -9px no-repeat;
}

.picScroll-left .hd ul li.on {
    background-position: 0 0;
}

.picScroll-left .bd {
    padding: 10px;
    position: relative;
}

.picScroll-left .bd ul {
    overflow: hidden;
    zoom: 1;
}
.picScroll-left .bd ul li {
    margin: 0 8px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
}

.picScroll-left .bd ul li .pic {
    text-align: center;
    margin-left: 35px;
}

.picScroll-left .bd ul li .pic img {
    width: 329px;
    height: 195px;
    display: block;
    padding: 2px;
    border: 1px solid #ccc;
}

.picScroll-left .bd ul li .pic a:hover img {
    border-color: #999;
}

.picScroll-left .bd ul li .title {
    line-height: 24px;
    width: 330px;
    margin-left: 35px;
}
.chanpin{
    background: url("../img/chanpin.png") no-repeat;
    background-size: 100% 100%;
    height: 519px;
}
.chanpinT{
    overflow: hidden;
    margin-bottom: 30px;
}
.chanpinT>div{
    display: inline-block;
    float: left;
    margin-top: 20px;
}
.chanpinT>div:last-child{
    float: right;
    width: 30px;
    height: 36px;
    border: 1px solid #C4CCE1;
    text-align: center;
}
.cole6{
    color: #D7DCE6;
    letter-spacing: 1px;
    margin: 7px 0px;
}
.xian{
    border-bottom: 2px solid #EB5406;
    width: 40px;
}
.now{
    color: #101010;
    font-size: 12px;
    background-color: #fff;
}
.tabs-content>div{
    display: none;
}
.tabs-content>div:first-child{
    display: -webkit-inline-box;
}
.tabs-menu{
    overflow: hidden;
    margin: 15px 0px;
}
.tabsDiv{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.tabsUnSeletedLi{
    border: 1px solid #ddd;
    margin: 0px!important;
    padding: 0px 5px;
}
.mg15{
    margin: 15px 0px;
    text-align: left;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.txc{
    text-align: center;
}
.shangbiao>li{
    float: left;
    width: 19%;
    text-align: center;
    margin: 30px 0.5%;
}
.huoban{
    margin: 20px 0px;
}
.shangbiao li img{
    border: 1px solid #ddd;
    padding: 0px 15px;
}
.shangbiao li p{
    margin-top: 15px;
}












