.slideBox {
	height: 537px;
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
}

.slideBox .hd {
	height: 15px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 1;
}

.slideBox .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
}

.slideBox .hd ul li {
	float: left;
	margin-right: 2px;
	width: 15px;
	height: 15px;
	line-height: 14px;
	text-align: center;
	background: #fff;
	cursor: pointer;
}

.slideBox .hd ul li.on {
	background: #f00;
	color: #fff;
}

.slideBox .bd {
	position: relative;
	height: 100%;
	z-index: 0;
}

.slideBox .bd li {
	zoom: 1;
	vertical-align: middle;
}

.slideBox .bd img {
	width: 100%;
	height: 537px;
	display: block;
}

.jishu_server {
	width: 1200px;
	margin: 0px auto;
}

.jishu_server>p {
	text-align: center;
	color: red;
	font-size: 20px;
	margin: 20px 0px;
}

.jishu_server ul {
	overflow: auto;
}

.jishu_server ul li {
	width: 49%;
	margin-right: 1%;
	float: left;
}

.jishu_server ul li p {
	height: 100px;
	font-size: 15px;
	line-height: 25px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
}

.jishu_server h1 {
	text-align: center;
	margin: 30px auto;
}

.jifang {
	border-bottom: 1px solid #ddd;
	margin: 20px 0px;
	overflow: hidden;
}

.jifang li {
	float: left;
	text-align: center;
	width: 33%;
	font-size: 14px;
	line-height: 30px;
}

.jifang_b {
	border-bottom: 1px solid red;
}

.jifang_c div {
	display: none;
}

.jifang_c div:first-child {
	display: block;
}

.jifang_c div img {
	width: 49%;
	height: 260px;
	float: left;
	margin-right: 1%;
}

.jifang_c {
	overflow: hidden;
	margin: 20px 0px;
}

.yun_server {
	background: url(../img/11.png)no-repeat;
	background-size: 100% 100%;
	height: 825px;
	text-align: center;
	color: #fff;
	padding-top: 30px;
	margin-bottom: 20px;
}

.yun_server h3 {
	margin: 30px auto;
}

.zhuji {
	background: url(../img/zhuji.png)no-repeat;
	background-size: 100% 100%;
	height: 1048px;
	margin-bottom: 20px;
	padding-top: 40px;
}

.zhuji h1,
h3 {
	text-align: center;
}

.zhuji_c {
	width: 1200px;
	margin: 0 auto;
}

.zhuji h3 {
	margin: 40px 0 50px;
}

.zhuji ul {
	overflow: hidden;
}

.zhuji ul li {
	width: 48%;
	margin-right: 1.5%;
	float: left;
	border: 1px solid #dddd;
	padding-top: 20px;
	margin-bottom: 40px;
}

.zhuji ul li img {
	height: 256px;
	display: block;
	margin: 0 auto;
}

.zhuji ul li div {
	background: #006198;
	color: #fff;
	padding: 20px 10px;
}

.zhuji ul li div h2 {
	font-size: 16px;
}

.zhuji ul li div p {
	font-size: 14px;
	margin-top: 10px;
	text-indent: 25px;
}

.xinxi {
	width: 1200px;
	margin: 20px auto;
}

.xinxi h1 {
	text-align: center;
}

.xinxi>h1 {
	color: red;
}

.xinxi>p {
	margin: 30px 0px;
	font-size: 14px;
}

.xinxi>img {
	width: 1200px;
}

.xinxi>ul {
	overflow: hidden;
}

.xinxi>ul p:first-child {
	height: 100px;
	font-size: 15px;
	line-height: 25px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
}

.xinxi>ul li {
	width: 31%;
	margin-right: 1%;
	float: left;
	background: #F4F4F2;
	border-radius: 5px;
	padding: 10px;
}

.xinxi>ul li h2 {
	text-align: center;
	font-size: 15px;
	margin-bottom: 10px;
}

.xinxi>ul li p {
	text-align: left;
}

.p_style {
	margin-bottom: 10px;
	color: #93908A;
	height: 100px;
	font-size: 15px;
	line-height: 25px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
}

.xinxi>ul li p:last-child {
	color: #0070A2;
	margin: 15px 0px;
	font-size: 14px;
}

.xinxi>ul li:last-child {
	margin-right: 0px;
}

.qiye_q {
	background: #F4F4F2;
	overflow: hidden;
	padding: 20px 0px;
}

.qiye_q div {
	width: 1200px;
	margin: 0px auto;
}

.qiye_q h1 {
	color: red;
	text-align: center;
}

.qiye_q ul {
	overflow: hidden;
}

.qiye_q ul li {
	width: 32%;
	float: left;
	margin-right: 1%;
}

.qiye_q ul li p {
	background: #fff;
	height: 95px;
	font-size: 13px;
	line-height: 25px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.qiye_q ul li img {
	width: 100%;
}

.hezuo {
	width: 1200px;
	margin: 0px auto;
}

.hezuo ul {
	overflow: hidden;
}

.hezuo ul li {
	float: left;
	text-align: center;
	width: 20%;
	height: 40px;
	line-height: 40px;
}
.wd12 {
    width: 1200px;
    margin: 0px auto;
    position: absolute;
}
.bannerli {
    color: #FF4700;
    border-bottom: 2px solid #FF4700;
}
.slideBox .hd1 {
	height: auto;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 35px;
    width: 100%;
    z-index: 1;
}

.slideBox .hd1 ul {
    background-color: #fff;
      overflow: hidden;
    float: right;
    width: 900px;
}
.slideBox .hd1 ul li {
    float: left;
    width: 23%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-right: 1px solid #ddd;
}